.squareLandscape{
    position:absolute;
    left:0px;
    top:0px;
    bottom:0px;
}
.marginLandscape{
    position:absolute;
    right:0px;
    bottom:0px;
    top:0px;
}
.marginBottomLandscape{
    position:absolute;
    left:0px;
    right:0px;
    bottom:0px;
    top:50%;
}
.marginTopLandscape{
    position:absolute;
    left:0px;
    right:0px;
    bottom:0px;
    top:50%;
}